#density, #trim { margin-left: 10px; width: 150px; }

.ui-slider .ui-slider-handle {
  height: 15px !important;
  width: 15px !important;
}

.ui-slider-horizontal { height: 8px !important;}

.success {
  color: darkgreen;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


body{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}

.flash {margin-top: 18px;}
.success {
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#wrapper{
width: 960px;
margin: 0 auto;
}

#header{
padding: 30px 0 40px;
border-bottom: 1px solid #ddd;
}

hr{
display: none;
}

h1{
font-size: 14px;
margin: 0 0 18px 0;

}

#header h1 { float: left; }

h1 + p {clear: left;}

h1 a{
text-decoration: none;
color: #333;
margin-right: 60px;
}

ul#nav{
float: left;
margin: 0;
padding: 0;
}

ul#nav li{
float: left;
margin: 0;
padding: 0;
list-style: none;
}


ul#nav li a{
text-decoration: none;
font-size: 14px;
float: left;
margin: 0 20px;
color: #333;
}


ul#nav li a:hover{
text-decoration: underline;
}


#content{
clear: both;
}



#footer{
clear: both;
height: 40px;
border: 1px solid #ddd;
border-left: none;
border-right: none;
margin-top: 80px;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 960px;
	text-align: left;
	border-collapse: collapse;
}
table th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #3B5323;
}
table td
{
	padding: 8px;
	color: #78AB46;
}

table td a { color: #78AB46; }
table .odd
{
	background: #e8edff; 
}
