<h1>Welcome to Cannibook</h1>

<p>You appear to be in <%= @user_location[:city] %>, <%= @user_location[:state] %></p>

<p>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>
</p>